/1.html
/bez_anymacii.html
/desktop.ini
/Discord.lnk
/END.html
/Fears to Fathom  Ironbark Lookout.lnk
/Fears to Fathom  Norwood Hitchhike.lnk
/Feed and Grow Fish.lnk
/Firefox.exe
/GitHub Desktop.lnk
/Hydra Account.txt
/Hydra — копия.lnk
/ideal.html
/ideal2.html
/ideal2н.html
/IMG_20260122_125003_768.jpg
/IMG_20260122_125003_785.jpg
/IMG_20260122_125003_816.jpg
/IMG_20260122_125004_163.jpg
/IMG_20260122_125004_197.jpg
/index.html
/MAX.lnk
/new.html
/new3.html
/Project Zomboid.lnk
/Qwen.lnk
/Qwen_html_20260418_6rabdjvtg.html
/Qwen_html_20260418_bjsqm5jnq.html
/Qwen_html_20260418_povbnk4nl.html
/Raft.lnk
/Roblox Player — копия.lnk
/Roblox Studio — копия.lnk
/rufus-4.13
/sitefull animation.html
/sitefull animation2.html
/SlowedLabApp
/slowsong.html
/Sons Of The Forest.lnk
/Telegram.lnk
/Trae.lnk
/Voicemod.lnk
/WinRAR.lnk
/worksite-GFlowSell.html
/Xeno-v1.3.25b2.exe
/zapret-discord-youtube-1.9.7b
/µTorrent.lnk
/Текстовый документ (2).txt
/Текстовый документ (3).txt
/Текстовый документ.txt